/*Fonte*/

@font-face 
{font-family:"Facebook";src:url("fonts/FACEBOLF.eot?") 
format("eot"),url("fonts/FACEBOLF.woff") 
format("woff"),url("fonts/FACEBOLF.ttf") 
format("truetype"),url("fonts/FACEBOLF.svg#FacebookLetterFaces") 
format("svg");font-weight:normal;font-style:normal;}

/*Fim - Fonte*/

/*LogoBranca*/

.logobranca 
{
	margin-left:120px; 
}

/* Fim-LogoBranca*/

/*Foto Nome*/
.nomefoto
{
	margin-top: 10px;
}

/*Texto Foto */
.textofoto 
{
	margin-left: 40px;
	margin-top: -25px;
}

/*Icone Foto */
.iconefoto 
{
	color:#36538d;
	margin-left: 220px;
	margin-top: -27px;
}

/*Icone*/
#botaoamigos
{
	margin-left:-13px;		
}

#icon
{
	margin-left: -6px;
	color: #0D1423;
}

#botao
{
	margin-left:-19px;
}

#botaosino
{
	margin-left: -15px;
	padding-right: 2px;
}

#divisor
{
	
}

#botaoajuda
{
	margin-left:-10px;
}


#chat

{
	
	width: 355px;
	margin-left: 118px;
}


#linhafoto
{
	margin-left: 115px;
	margin-top: -35px;
	font-size: 17px;
}

.fotochat

{
	margin-left: 15px;
	border-radius: 100%;
	width:40px;
	height: auto;
}

#nomechat

{
	margin-left:10px;
	margin-top: 5px;
	text-decoration: none;
	color: black;
	font-size: 18px
}

#online {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 100%;
  display: inline-block;
  margin-top: 15px;
  margin-left: -10px;
}

#capa
{

	width:995px;
	height:auto;
	position:relative;

}

#fotoperfil

{
	width:230px;
	height:230px;
	top:235px;
	left:33px;
	position:absolute;
	border: solid 5px white;
}

#linhatempo

{
	margin-left: 110px;
}

#nome
{
	margin-left: 295px;
	margin-top: -50px;
}

#apresentacao 

{
	width:38.5%;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#publi

{
	margin-left: 35px;
}

#publi2

{
	margin-top: 28px;
	margin-left: 50px;
	width: 651px;
}

#nomefeed

{
	margin-left: -15px;
	font-size: 18px;
}

#linhafeed
{
	margin-left: 73px;
	margin-top: -25px;
}

#curtir
{
	margin-left: 60px;
}

#joia
{
	margin-left: 15px;
	margin-top: -3px;
}

#like
{
	margin-left: 5px;
	margin-top:-2px;
}

#likes
{
	margin-top:-5px;
}

#react
{
	margin-top: 2px;
	margin-left:1px;
}